<template>
    <div>
        <div class="row">
            <div class="col-6">
                <form>
                    <div class="row">
                        <div v-for="site in searchViewModel.websites" class="form-check form-check-inline">
                            <input class="form-check-input" v-on:click="search" type="checkbox" :id="'siteCheckbox-' + site.id" :value="site.id" v-model="site.selected">
                            <label class="form-check-label" :for="'siteCheckbox-' + site.id">
                                {{ site.name }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="mode in searchViewModel.modes" class="form-check form-check-inline">
                            <input class="form-check-input" v-on:click="search" type="checkbox" :id="'modeCheckbox-' + mode.id" :value="mode.id" v-model="mode.selected">
                            <label class="form-check-label" :for="'modeCheckbox-' + mode.id">
                                {{ mode.name }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="purpose in searchViewModel.purposes" class="form-check form-check-inline">
                            <input class="form-check-input" v-on:click="search" type="checkbox" :id="'purposeCheckbox-' + purpose.id" :value="purpose.id"
                                v-model="purpose.selected">
                            <label class="form-check-label" :for="'purposeCheckbox-' + purpose.id">
                                {{ purpose.name }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="database in searchViewModel.databases" class="form-check form-check-inline">
                            <input class="form-check-input" v-on:click="search" type="checkbox" :id="'databaseCheckbox-' + database.id" :value="database.id"
                                v-model="database.selected">
                            <label class="form-check-label" :for="'databaseCheckbox-' + database.id">
                                {{ database.name }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="company in searchViewModel.companies" class="form-check form-check-inline">
                            <input class="form-check-input" v-on:click="search" type="checkbox" :id="'companyCheckbox-' + company.id" :value="company.id"
                                v-model="company.selected">
                            <label class="form-check-label" :for="'companyCheckbox-' + company.id">
                                {{ company.name }}
                            </label>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-6">
                <div v-for="profile in profiles" class="form-check">
                    <input v-on:click="profileClick" class="form-check-input" type="radio" name="profiles" :id="'profiles_' + profile.id" :value="profile.id">
                    <label class="form-check-label" :for="'profiles_' + profile.id">
                        {{profile.name}}
                    </label>
                </div>
            </div>
        </div>

        <form class="form-inline row">
            <div class="form-group row col-6">
                <label for="profileName" class="col-form-label col-3">Profile Name</label>
                <input v-model="profileName" type="text" class="form-control mb-2 col-3" id="profileName">
            </div>
            <button class="btn btn-primary mb-2 col-2" v-on:click="saveProfile">Save Profile</button>
            <router-link class="btn btn-primary mb-2 col-2" to="/addsite">Add Site</router-link>
        </form>

        <site-list-component v-bind:sites="sites"></site-list-component>
    </div>


</template>

<script src="./search.ts"></script>